body{
	background-color:white;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.8em;
	margin:0;
}
#main-header {
    background-color: powderblue; 
    color: black;
    padding: 10px;
    text-align: center;
}
#enter-qstn {
    background-color: white;
    padding-left: 70px;
    padding-right: 100px;
    padding-top: 30px;
}
#enter-qstn input[type = 'text'] {
    width: 100%;
    padding: 10px;
    margin: 10px
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
}
.btn {
    display: inline-block;
    padding: 10px 15px;
    border: 0;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin: 4px 2px; 
}  
.btn:hover {
    background-color: red;
    color: white;
}
#main-qstn {
    background-color: white;
    padding-left: 70px;
    padding-top: 30px;
    padding-bottom: 40px; 
}
#main-ans {
    background-color: white;
    padding-left: 70px;
    padding-top: 30px;
    padding-bottom: 40px; 
}

